.app-title{
    text-align: center;
}
.app-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.link-generation-card{
    box-shadow: 0 0 10px lightblue;
    border-radius:10px;
    padding: 20px;
    background-color:whitesmoke;
    color: black;
}
.user-input{
    display: block;
    width: 250px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px 10px;
}
.btn-generate-link{
    display: block;
    background-color: black;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    margin: 10px auto;
    cursor:pointer;
}
.input-short-url{
   
    width: 220px;
    font-size: 20px;
    padding: 5px 10px;
}
.short-url-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.copy-img{
    cursor: pointer;
}